:root{
	--one_bg: #0d0e0d;
	--bg: #191b19;
	--main_bg: #292c29;
	--text: #6392bd;
	--good_mark: #4aba4a;
	--mark: #6ba2e7;
	--like_mark: #f73c4a;
	--bgg: #111111;
	--white_text: #dee3e7;
	--btn: #4779bd;
}

.menu_style_btn{
    transform: translate(10px, -12px);
    background: url(/images/icons/common.png?6) no-repeat 0 -60px;
    width: 16px;
    height: 16px;
    display: inline-flex;
}

.menu_style_btn:hover{
	cursor: pointer;
}

.menu_style{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: right;
    align-items: flex-start;
    -ms-flex-pack: right;
	justify-content: flex-end;
    z-index: 5522;
    top: 45px;
}

.conteiner_style{
	background-color: var(--main_bg);
	position: relative;
	overflow-y: auto;
	max-height: 100%;
	z-index: 1005;
	border-radius: 5px;

	width: 25%;
	height: 100%;
}