/**{
	background: #1e1e1e
}*/

/*h1:hover:after{
	position: absolute;
	content: "";
	top: 30px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: #f00;
}*/

.cont_load {
	text-align: center;
	padding: 100px 0 0 0;
	color: #fff;
	background: #1d1f20;
	position: fixed;
    width: 100vw;
    height: 100vh;
	z-index: 5552;
}

.loading {
	width: 250px;
	height: 250px;
	-webkit-animation: rotation 2s infinite linear;
}

.conteiner{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 45%;
}


@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}



::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
 	border-radius: 5px;
 	background-color:var(--text);
}

::-webkit-scrollbar{
	width: 5px;
	height: 5px;

}

::-webkit-scrollbar-track {
	background-color:#32312e;
	box-shadow:0px 0px 3px #000 inset;
}