.emoji_conteiner{
    margin: 0;
    padding: 0; 
    padding-left: 10px;
    display: -webkit-box;
}
img.emoji_button_donos{
    position: absolute;
    -moz-margin-start: -15px
}
.emoji_button_donos{
	/*position: absolute;*/
	/*left: 38%;*/
	width: 15px;
	height: 15px;
}

.status_report{
    display: block;
    margin-left: 25px;
    margin-top: 1px; 
}

.delete_cremleBot{
/*    width: 10px;
    height: 10px;*/
    background: #f00;
    border-radius: 50px;
    position: absolute;
}

/*.rating_conteiner{
    background: rgba(29,32,34,.7);
    height: 25px;
    position: absolute;
    color: #fff;

    justify-content: center;
    align-items: center;
    display: flex;
}*/

.rating_conteiner{
    position: absolute;
    z-index: 1;
    width: 50px;
    margin: -15px;
}
.conteiner_rat{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rat_num{
    position: absolute;
    margin: 5px;
    z-index: 552;

}

.line_rating{
    position: absolute;
    opacity: .5;
    width: 200px;
    height: 25px;
    transform: translateX(-250px);
}

.status_content{
    width: 165px;
    float: left;
    color: #828282;
}
.status_text{
    color: #2a5885;
}


/*Делаем под стиль ВК*/

.cont_rate{
    display: flex;
    padding: 10px;
    margin: 5px;
}
.cont_rate2{
    /*padding: 10px;*/
    padding-bottom: 20px; 

}
.name_block{
    padding-right: 5px;
}
.num_block{
    color: #a298c3;
}

.bar_rating{
    background: #e5ebf1;
    height: 15px;
    border-radius: 10px;
    width: 190px;
    margin-left: 20px;
    overflow: hidden;
}
.achivment_content{
    text-align: center;
    padding: 10px;
    padding-top: 0px;
}
.img_ach{
    width: 64px;
    height: 64px;
}
.name_ach_block{
    text-align: left;
    padding-left: 10px; 
}
.bar_style{
    background: #648fc9;
    border-radius: 0px;
}